.page {
  width: 100%;
  display: inline-block;
  padding:.5em;
}

.page:before {
  content: '';
  display: block;
  font-size: 1em;
  line-height: 1.416666667 em;
  margin-top: 1.416666667 em;
  margin-bottom: 1.416666667 em;
}

.container {
  margin: auto;
  display: block;
  padding: 1em;
}

@media (min-width: 768px) {
  .page {
    margin-top: 0;
    margin-left: 280px;
    width:calc(100% - 300px);
  }

  .container {
    padding: 0;
  }
}